body{
    background-color: rgba(126, 123, 123, 0.74);
    text-align: center;
    font-family: cursive;
}
h1{
    font-family:sans-serif;
}
#header{
    background-color: rgb(97, 97, 97);
    margin-top: -20px;
}
.footer{
    background-image: linear-gradient(red,black);
    line-height: 30px;
    bottom: 0;
    position: fixed;
    width: 100%;
    color: aliceblue;
    font-size: 20px;
}